services:
  osm:
    build: ./image
    image: zed43/osm-tile-server:latest
    
    container_name: osm
    
    volumes:
      - /mnt/data/region.osm.pbf:/data/region.osm.pbf:ro
      - /mnt/data/region.poly:/data/region.poly:ro
      - /mnt/data/database:/data/database
      - /mnt/data/cache:/data/cache
      - /mnt/data/tiles:/data/tiles
    
    ports:
      - "80:80"
    
    environment:
      - THREADS=8
      - UPDATES=disabled
      - AUTOVACUUM=off
      - PG_CTL_TIMEOUT=3600 # seconds
      - "OSM2PGSQL_EXTRA_ARGS=--cache 4096" # MB, https://osm2pgsql.org/doc/manual.html#command-line-options
      - "EXTERNAL_DATA_EXTRA_ARGS=--cache --no-update"
      
    shm_size: "4G"

    restart: unless-stopped

    command: "run"
    
